* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace, Arial, sans-serif;
    font-size: 16px; 
    line-height: 1.5;
    color: #333;
}

/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header-left {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.botao-inicio {
    height: 2rem;
    cursor: pointer;
}

header a {
    text-decoration: none;
    color: #000;
    font-size: 1rem;
}

header a:hover {
    text-decoration: underline;
}

header .dropdown {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
    font-size: 1rem;
}

/* Main */
main {
    height: 110vh;
    display: flex;
    justify-content: space-between;
    margin: 2rem;
    gap: 2rem;
}

.mapa-main{
    height: 110vh;
    display: flex;
    justify-content: space-between;
    margin: 2rem;
    gap: 2rem;
}

.mapa-main iframe{
    border: 2px solid black;
    border-radius: 1.5rem;
}

.img-main img {
    height: 80vh;
}

.img-main p {
    font-size: 75%;
    text-align: right;
    color: #777;
}

.entrevista{
    margin: auto auto;
}

.top-container {
    margin-bottom: 1rem;
}

.top-container h1 {
    font-size: 2rem;
    font-weight: bold;
}

.top-container p {
    font-size: 1rem;
}

/* Details */
main .dropdown {
    width: 40vh;
    font-family: Arial, sans-serif;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 5px; 
    background-color: #f8f9fa;
    margin: 1rem 0;
}

main .dropdown summary {
    font-weight: bold;
    color: #333;
    list-style: none;
    cursor: pointer;
    font-size: 1rem;
}

main .dropdown p,
main .dropdown ul {
    margin: 0.5rem 0 0;
    padding-left: 1rem; 
    font-size: 1rem;
}

main .dropdown li {
    margin: 0.25rem 0;
}

main .dropdown[open] {
    width: fit-content;
    background-color: #f8f9fa;
    border-color: #999;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Footer */
footer {
    text-align: center;
    font-size: 0.75rem; 
    padding: 0.5rem;
    color: #777;
    background-color: #f1f1f1;
    border-top: 1px solid #ddd;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
